<p id="notice"><%= notice %></p>

<div class="show-page">
  <p>
    <strong>Name:</strong><br>
    <%= @adventure.name %>
  </p>

  <p>
    <strong>Description:</strong><br>
    <%= @adventure.description %>
  </p>

  <p>
    <strong>Picture:</strong><br>
    <%= image_tag(@adventure.picture_url, :width => 600) if @adventure.picture.present? %>

  </p>

  <p>
    <strong>Visit:</strong><br>
    <%= @adventure.visit %>
  </p>
</div>
<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
